.header {
    .nav-list {
        margin-left: 50px;
        display: flex;

        .item {
            margin-left: 20px;
            color: #fff;
            text-decoration: none;
            text-transform: capitalize;
        }
    }
}
#fixInputSize{
    font-family: Roboto;
    font-size:50px;
  }
